body {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
#page-logo a {
  color: brown;
  font-weight: bold;
  font-size: 24px;
  padding: 16px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul li a {
  padding: 12px;
  color: red;
  font-size: 20px;
  font-weight: 500;
}

main {
  background-color: brown;
  padding-top: 10px;
}
h1 {
  text-align: center;
}

main ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main li {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  background-color: beige;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

main li img {
  width: 360px;
  height: 260px;
  object-fit: cover;
}
main li a {
  background-color: orange;
  padding: 10px;
  margin-bottom: 20px;
  color: beige;
}
